
.quote {
    position: relative;
    width: 100%;
    height: 220px;
    padding-top: 40px;
    background: url("../img/footer.jpg") no-repeat center;
    background-size: cover;
}

.quote .quote-external {
    max-width: 410px;
}

.signDown {
    border-top: 1px solid rgba(7, 7, 7, 0.67);
}

.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #090c1500;
    z-index: 0;
}

.quote-external p::before,
.quote-external p::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #0d6efd;
    margin: 14px auto 10px auto;
}

#mainFooter {
    position: relative;
    background-color: #131722;
}

#mainFooter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: auto;
    pointer-events: none;
}

[data-font-family-custom] cite {
    color: rgb(179, 243, 245);
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 
    1px 1px 0 rgba(255, 255, 0, 0.35); 

}

.color-custom:hover,
.color-custom:hover * {
    color: yellow;
    text-shadow: none
}

.color-custom:hover {
    transform: scale(1.065);
    transition: transform 0.3s ease;
    transition-delay: 0.2s, 0.4s;
    transition-duration: 0.7s, 0.7s;
}


@media (min-width: 769px) {

    .color-custom:hover,
    .color-custom:hover * {
        transform: scale(1.4);
    }
}

.color-custom:not(:hover) {
    transform: scale(1);
    transition-delay: 0.4s, 0.2s;
    transition-duration: 0.7s, 0.7s;
}

[data-footerBottom] {
    background-color: #0c101b;
}

.contactsLinks img {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid none;
    padding: 7px;
    border-radius: 25%;
}

.contactsLinks img:hover {
    background-color: #0c101b;
    transform: scale(1.06);
}

.contactsLinks img:active {
    background-color: #0d2566;
    transform: scale(0.93);
    transition: all 0.37s ease;
}

@media (max-width: 567px) {
    .contactsLinks li {
      width: calc((100% - 6px) / 7); 
      padding-left: 0;
      padding-right: 1px; 
    }
}


#mainFooter .custom-border {
    max-width: 85%;
    text-align: center;
}