
.tooltip-inner {
    background-color: hsl(239, 92%, 47%);
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    color:#fff; 
    box-shadow: 0 0 9px 2px hsla(224, 92%, 52%, 0.959);
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: hsl(239, 92%, 47%);
    border-bottom-color: hsl(239, 92%, 47%);
}