.submitPopup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitPopup-content h2 {
    color: white;
}

.submitPopup-content h2,
.submitPopup-content h3 {
    z-index: 5;
}

.submitPopup:target {
    opacity: 1;
    visibility: visible;
}

.submitPopup-content {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 2;

}

.submitPopup-content::before,
.submitPopup-content::after {
    content: '';
    position: absolute;
    bottom: 50%;
    overflow: visible;
    width: 51%;
    height: 60%;
    z-index: -1;
    background-color: #06b60f;
    --messageDecoregrad: 15deg;
}

.submitPopup-content::before {
    transform: skewY(var(--messageDecoregrad));
    left: 0;
}

.submitPopup-content::after {
    transform: skewY(calc(-1*(var(--messageDecoregrad))));
    right: -7px;
}

.submitPopup-content img {
    max-height: 40vh;
    max-width: 40vh;
    animation: moveAnimation 5s infinite;
}

@keyframes moveAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.submitPopup-content .heading-secondary {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.submitPopupButton {
    background: linear-gradient(to top, #08da13, #07ca11, #06b60f, #06b60f, #06b60f, #06b60f, #06b60f, #07ca11, #08da13);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100px;
    margin-top: 25px;
    box-shadow: rgb(8, 201, 120) 0px 0px 5px -1px;
    transition: 0.4s;
    border: #08da13 solid 1px;
    font-weight: 600;
}

.submitPopupButton:hover {
    background: linear-gradient(to top, #08da13, #07ca11, #06b60f, #06b60f, #06b60f, #06b60f, #06b60f, #07ca11, #08da13);
    box-shadow: rgb(8, 201, 120) 0px 0px 9px -1px;
    color: yellow;
    transition: 0.2s;

}

.submitPopupButton:active {
    transform: scale(0.95);
}


.visitorErrorMessageData {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background: linear-gradient(to right, rgba(220, 16, 1, 0.4), rgba(220, 17, 1, 0.5));
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
    transition:0.5s;
}

.visitorErrorMessageData:hover {
    background-color: rgba(220, 17, 1, 0.5);
    transition:0.5s;
    color: #ff0303;
}

.contactButtonCloseErrMessage {
    filter:hue-rotate(150deg);
}

.contactButtonCloseErrMessage:hover {
    transition: 0.4s;
    transform: scale(1.2);
    transition: 0.37s ease-in;
}

.contactButtonCloseErrMessage:active {
    transform: scale(0.9);
}

.visitorErrorMessageData {
    display: flex;
    align-items: center; 
    font-size: 110%;
}
  
.visitorErrorMessageData *:not(.contactButtonCloseErrMessage) {
    font-size: 100%;
}
  
.visitorErrorMessageData .contactButtonCloseErrMessage {
    font-size: initial;
    align-self: center; 
    position: absolute;
    bottom: 0%;
}

  
