.animate-top-to-bottom {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.animate-top-to-bottom.visible {
    opacity: 1;
    transform: translateY(0);
}

.textSpecialM.visible {
    animation-delay: 3s;
}



