.textSpecial {
  color: rgb(0, 119, 255);
}

span.typed-cursor {
  color: rgb(0, 119, 255);
}

span.typed-cursor.scrolled-inverse {
  color: rgb(83, 196, 241);
}

.textSpecialMain.scrolled-inverse {
  color: white;
}